<html>
    <head>
        <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
        <link rel="stylesheet" href="/static/theme.css">
         
        <title>
            Love | Lauryn Hill
        </title>   
        <style>
            body {
                font-family: 'Ubuntu';font-size: 22px;
            }
        </style>
    </head>
    <body>
        <div class="container song">
            <img src={{song_data.song_image}} />
            
            <table>
                <tr>
                    <td><img class=artist src={{song_data.artist_image}} /></td>
                    <td>
                        <h1><a href="{{song_data.artist_link}}">{{song_data.artist}}</a></h1>
                        <h2>{{song_data.song}}</h2>
                    </td>
                </tr>
            </table>
        </div>
        {% if twitter_data %}
            <div class="container tweet">
                <p> {{twitter_data.tweet}} </p>
            </div>
        {%endif%}
    </body>
</html>